[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pinecone = "*"
langchain-pinecone = "*"
langchain-openai = "*"
openai = "*"
fastai = "*"
black = "*"
beautifulsoup4 = "*"
lxml = "*"
selenium = "*"
webdriver-manager = "*"
bs4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
