[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pinecone = "*"
openai = "*"
fastai = "*"
beautifulsoup4 = "*"
lxml = "*"
selenium = "*"
webdriver-manager = "*"
bs4 = "*"
html2text = "*"
langchain-community = "*"
langchain-ollama = "*"
streamlit = "*"
streamlit-chat = "*"
unstructured = {extras = ["md"], version = "*"}
requests = "*"
dotenv = "*"
mypy = "*"
types-requests = "*"

[dev-packages]
radon = "*"
flake8-bugbear = "*"
pre-commit = "*"
pylint = "*"
black = "*"
mypy = "*"
isort = "*"
buff = "*"
flake8 = "*"
types-requests = "*"

[requires]
python_version = "3.13"
